<!DOCTYPE html>
<html>
<head>
    <title>Signup Successful</title>
    <link rel="stylesheet" type="text/css" href="/style/sstyle.css">
</head>
<body>
    <div class="container">
        <div class="tick-container">
            <div class="tick"></div>
        </div>
        <h1 class="fade-in">Signup Successful!</h1>
        <p class="fade-in">Thank you for signing up. You can now login to access your account.</p>
        <a href="/index.html" class="btn btn-animate">Login</a>
    </div>
</body>
</html>
